.container {
    width: 100%;
    margin: auto;
}

.email {
    font-family: Consolas, monospace;
}

.content-area {
    background: #fff;
    font-size: 1.4em;
}

.content-area h1 {
    margin: .5em 0;
}

.content-area p {
    margin: .2em;
}

.ant-layout-sider-dark {
    background-color: #26353f;
}

ant-menu-inline {
    background-color: #108ee9;
}

.ant-menu-item {
    background-color: #26353f;
    font-size: 3em;
}

.ant-menu-inline .ant-menu-item {
    font-size: 1.4em;
}

.ant-menu-inline .ant-menu-submenu-title {    
    font-size: 1.2em;
}

.ant-menu-submenu-title {
    background-color: #26353f;
}
