html, body {
    margin:0;
    padding:0;
}

.container {
    width: 100%;
    margin: auto;
}

.content-area {
    background: #fff;
}

.ant-layout-sider-dark {
    background-color: #26353f;
}

.ant-menu-item {
    background-color: #26353f;
}
